*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: rgb(255, 255, 255);
}
.base{
    margin: 20px auto;
    padding: 20px;
    width: 400px;
    color: #ededed;
    background: darkcyan;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgb(0, 0, 0);
}
h1{
    font: 900 40px/1.9em "Noto Sans TC";
    color: darkcyan;
    text-align: center;
    letter-spacing: 2px;
}
#choseloaction{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: #eee;
    border-radius: 99em;
}
#name{
    font: 500 50px/1.9em "Noto Sans TC";
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 2px;
}
#img{
    display: block;
    margin: 0 auto;
    width: 100px;
}
ul{
    display: grid;
    padding: 10ppx;
    list-style: none;
    background: darkcyan;
    border-radius: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
